<!-- View this when OctoPrint user is not logged in -->
<div class="row-fluid mattalabs-tab-container" data-bind="if: !is_octoprint_admin()">
    <div id="octoprint-user-logged-out">
        <div class="mattalabs-logo-container">
            <div class="mattalabs-logo"></div>
        </div>
        <h3 class="mattalabs-title">MattaCloud Plugin</h3>
        <hr>
        <h4>Hello mattacloud user!</h4>
        <p class="description">
            For safety and security reasons, only accounts with administrator rights can use this plugin.
        </p>
        <p class="description">
            Please sign into an OctoPrint administrator account to continue.
        </p>
    </div>
</div>

<!-- View this when MattaCloud is not setup -->
<div class="row-fluid mattalabs-tab-container" data-bind="if: !is_octoprint_admin()">
    <div id="octoprint-user-logged-out">
        <div class="mattalabs-logo-container">
            <div class="mattalabs-logo"></div>
        </div>
        <h3 class="mattalabs-title">MattaCloud Plugin</h3>
        <hr>
        <h4>Hello mattacloud user!</h4>
        <p class="description">
            To use this OctoPrint enabled printer with the mattacloud you need provide a valid authentication token.
            You can unlink this device from the mattacloud at anytime by removing the token. You can then use this token on a different printer.
        </p>
        <p class="description">
            Enter your mattacloud authentication token in the box below. You can find your printer's token by logging in to your mattacloud account.
        </p>
        <div class="control-group">
            <label class="control-label">{{ _('Authorisation Token') }}</label>
            <div class="controls">
                <input id="auth_token_input" type="text" class="input-auth-token auth-token-input d-inline-block" data-bind="value: settings.plugins.mattacloud.authorization_token">
                <button id="test_auth_token_btn" class="btn btn-primary test-btn test-auth-token d-inline-block" type="button"><i id="test_auth_token_btn_spin" class="fa fa-spinner fa-spin" style="display: none;"></i>Test Token</button>
                <small>Sign up to mattacloud to bring intelligence to your 3D printer. <a href="https://mattalabs.com/accounts/signup/">Sign Up</a></small><br>
                <div id="token_test_response" class="test_token"></div>
            </div>
        </div>
    </div>
</div>
{# 
<div class="row-fluid">
    <div class="span11">
        <h3 data-bind="text: enabled">mattacloud plugin</h3>
    </div>
    <div class="text-right">
        <h3>
        <label class="toggle-switch-fa-sm" >
            <input type="checkbox" data-bind="checked: enabled_value, click: toggle_mattacloud" >
            <span class="fa-slider" ><i class="fa icon-off fa-inverse"></i></span>
        </label>
        </h3>
    </div>
</div>
<hr>
<div>
    <h5 data-bind="text: ws_status">Status: </h5>
    <div class="text-right">
    <button id="ws_reconnect_btn" class="btn btn-primary" type="button"><i id="ws_reconnect_btn_spin" class="fa fa-spinner fa-spin" style="display: none;"></i>Reconnect</button>
    <div id="ws_reconnect_response"></div>
    </div>
</div>
<h4>Printer Information: </h4>
<div>
    <p>Authorisation Token: <span data-bind="text: auth_token"></span></p>
</div>
<div>
    <p>Configuration Print:
    <label class="toggle-switch-fa-sm" >
    <input type="checkbox" name="config_print" value="config_print" data-bind="checked: config_print, click: set_config_print">
    <span class="fa-slider" ><i class="fa icon-off fa-inverse"></i></span>
    </label>
    </p>
</div>
{# <h4>Error Detection: </h4>
<div>
    <p>Sever Address: <span data-bind="text: server_address"></span></p>
</div>
<div>
    <p>Snapshot Directory: <span data-bind="text: snapshot_dir"></span></p>
</div>
<div>
    <p>Upload Directory: <span data-bind="text: upload_dir"></span></p>
</div> #}
