<div>
<div class="row">
</div>
    <h3>mattacloud plugin</h3>
    <div class="mattalabs-logo-container">
        <div class="mattalabs-logo"></div>
    </div>
    <h5>About</h5>
    <p>Handcuffed to your 3D printer? Constantly checking every 5 minutes to
    make sure that everything is okay? mattacloud is the answer, being the
    most advanced error detection solution for your 3D printer.<br>Learn more about mattacloud at <a href="https://mattalabs.com/products/mattacloud/">mattalabs.com/products/mattacloud/</a></p>

    <p>Receive notifications via e-mail, SMS, Facebook Message or Telegram with updates concerning your 3D print. If an error is detected during the printing process you will be kept informed with a message and image sent detailing the error - the print can then be halted saving material, energy and time.</p>
    <p>Remotely monitor and control your OctoPrint powered 3D printer via the mattacloud platform.</p>
    <h5>Configuration</h5>
    Enter your printer's mattacloud authorization token (you can find it <a href="https://mattalabs.com/accounts/printers/list/">here</a>), and authorize the plugin access to your account.
    <form class="form-horizontal input-group">
        <div class="control-group">
            <label class="control-label">{{ _('Authorisation Token') }}</label>
            <div class="controls">
                <input id="auth_token_input" type="text" class="input-auth-token input-block-level" data-bind="value: settings.plugins.mattacloud.authorization_token">
                <small>Sign up to mattacloud to bring intelligence to your 3D printer. <a href="https://mattalabs.com/accounts/signup/">Sign Up</a></small><br>
                <button id="test_auth_token_btn" class="btn btn-primary test-btn test-auth-token" type="button"><i id="test_auth_token_btn_spin" class="fa fa-spinner fa-spin" style="display: none;"></i>Test Token</button>
                <div id="token_test_response" class="test_token"></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Server Address') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" id="base-url" data-bind="value: settings.plugins.mattacloud.base_url">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Snapshot Directory') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" id="snapshot-dir" data-bind="value: settings.plugins.mattacloud.snapshot_dir">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _('Upload Directory') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level" id="upload-dir" data-bind="value: settings.plugins.mattacloud.upload_dir">
            </div>
        </div>
    </form>
    <h5>Terms and Conditions</h5>
    <p>The mattacloud are still ongoing development and may contain errors which could affect your 3D prints.</p>
    <small>Read the full terms and conditions at <a href="https://mattalabs.com/terms-and-conditions/">mattalabs.com/terms-and-conditions/</a></small><br>
    <small>Read the our privacy policy at <a href="https://mattalabs.com/privacy-policy/">mattalabs.com/privacy-policy/</a></small>
</div>